<?xml version="1.0"?>

<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:ws="http://jax-ws.dev.java.net/spring/core"
  xmlns:wss="http://jax-ws.dev.java.net/spring/servlet"
  xsi:schemaLocation="
    http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
    http://jax-ws.dev.java.net/spring/core
    http://jax-ws.dev.java.net/spring/core.xsd
    http://jax-ws.dev.java.net/spring/servlet
    http://jax-ws.dev.java.net/spring/servlet.xsd">


    <wss:binding url="/speechlink" service="#SpeechLinkService"></wss:binding>  
    <ws:service id="SpeechLinkService" bean="#speechServiceImpl"></ws:service>  
    <bean id="speechServiceImpl" class="com.spokentech.speechdown.server.ws.SpeechLinkPortImpl">
    		<property name="recognizerService"><ref bean="recognizerService"/></property>
    		<property name="synthesizerService"><ref bean="synthesizerService"/></property>
    </bean>  

    <wss:binding url="/speechattach" service="#SpeechAttachService"></wss:binding>  
    <ws:service id="SpeechAttachService" bean="#speechAttachImpl"></ws:service>  
    <bean id="speechAttachImpl" class="com.spokentech.speechdown.server.ws.SpeechAttachPortImpl">
    		<property name="recognizerService"><ref bean="recognizerService"/></property>
    		<property name="synthesizerService"><ref bean="synthesizerService"/></property>
    </bean>  


	<bean id="recognizerService" 
	      class="com.spokentech.speechdown.server.RecognizerService"
		  init-method="startup" destroy-method="shutdown">
		  <property name="recEngineFactory"><ref bean="recEngineFactory"/></property>
		  <property name="poolSize">
				<value>2</value>
		  </property>
	</bean>
	
	
	<bean id="synthesizerService" 
	      class="com.spokentech.speechdown.server.SynthesizerService"
		  init-method="startup" destroy-method="shutdown">
		  <property name="synthEngineFactory"><ref bean="synthEngineFactory"/></property>
		  <property name="poolSize">
				<value>10</value>
		  </property>
		  <property name="promptDir">
				<value>@applicationContext.synthesizerService.promptDir@</value>
		  </property>
		  <property name="prefix">
				<value>@applicationContext.synthesizerService.prefix@</value>
		  </property>

	</bean>


	<bean id="grammarManager" 
	      class="com.spokentech.speechdown.server.recog.GrammarManager"
		  init-method="startup" destroy-method="shutdown">
		  <property name="grammarDir">
				<value>grammars</value>
		  </property>
		  <property name="baseGrammarDir">
				<value>@applicationContext.recognizerService.baseGrammarDir@</value>
		  </property>
	</bean>

	
    <bean id="recEngineFactory" 
	      class="com.spokentech.speechdown.server.recog.SphinxRecEngineFactory"
		  init-method="startup" destroy-method="shutdown">
		  <property name="grammarManager"><ref bean="grammarManager"/></property>
		  <property name="sphinxConfigFile">
				<value>@applicationContext.recognizerService.sphinxConfigFile@</value>
		  </property>
	</bean>
	
	<bean id="synthEngineFactory" 
	      class="com.spokentech.speechdown.server.tts.FreettsSynthEngineFactory"
		  init-method="startup" destroy-method="shutdown">
		  <property name="voiceName">
				<value>kevin</value>
		  </property>
	</bean>


</beans>
