<?xml version="1.0" encoding="UTF-8"?>

<!--
   Sphinx-4 Configuration file
-->

<!-- ******************************************************** -->
<!--  an4 configuration file                             -->
<!-- ******************************************************** -->

<config>        
    
    <!-- ******************************************************** -->
    <!-- frequently tuned properties                              -->
    <!-- ******************************************************** --> 

    <property name="logLevel" value="INFO"/>
    

    <property name="showCreations" value="false"/>
    
    <property name="absoluteBeamWidth2"  value="25000"/>
    <property name="relativeBeamWidth2"  value="1E-40"/>
    <property name="absoluteWordBeamWidth2" value="30"/>
    <property name="relativeWordBeamWidth2" value="1E-30"/>
    
    <property name="acousticLookahead" value="2"/>
    <property name="smear" value="1.3"/>
    
    <property name="wordInsertionProbability"    value="0.2"/>
    <property name="languageWeight"              value="6.5"/>
    <property name="silenceInsertionProbability" value="0.1"/>

    <property name="lmwordInsertionProbability" value="0.2"/>
    <property name="lmlanguageWeight" value="6.5"/>
    <property name="lmsilenceInsertionProbability" value="0.1"/>
    <property name="lmfillerInsertionProbability" value="1E-6"/>  

    <!--property name="languageModelFile"       value="file:\\\C:\work\models\lm\lm_giga_64k_vp_3gram.arpa.DMP"/-->
    <property name="languageModelFile"          value="file:\\\C:\work\models\lm\wsj5kc.Z.DMP"/>
    <!--property name="languageModelFile"          value="file:\\\C:\work\models\french\french3g62K.DMP"/-->

    <!--property name="amLocation" value="file:///C:/work/models/am/voxforge-en-0.4/model_parameters/voxforge_en_sphinx.cd_cont_5000"/-->
    <property name="amLocation" value="file:///C:/work/models/am/voxforge-en-0.4/model_parameters/voxforge_en_sphinx.cd_cont_5000"/> 
    <property name="amDataLocation" value="/"/>
    <property name="amModelDefinition" value="mdef"/>
    
    <!--property name="amLocation" value="file:///C:/work/models/french"/-->
    <!--property name="amDataLocation" value="/"/-->
    <!--property name="amModelDefinition" value="french_f0.5725.mdef"/-->
   
    <property name="dictionaryPath"  value="file:///work/models/dict/cmudict.0.7a"/>
    <property name="fillerPath" value="file:///work/models/dict/mcmodel.filler"/>

    <!--property name="dictionaryPath"  value="file:///work/models/french/frenchWords62K.dic"/-->
    <!--property name="fillerPath" value="file:///work/models/french/frenchFillers.dic"/-->
    
    
    <!-- ******************************************************** -->
    <!-- word recognizer configuration                            -->
    <!-- ******************************************************** --> 
    
    <component name="recognizer" type="edu.cmu.sphinx.recognizer.Recognizer">
        <property name="decoder" value="decoder"/>
        <propertylist name="monitors">
            <item>accuracyTracker </item>
            <item>speedTracker </item>
            <item>memoryTracker </item>
        </propertylist>
   </component>
    
    <!-- ******************************************************** -->
    <!-- The Decoder   configuration                              -->
    <!-- ******************************************************** --> 
    
    <component name="decoder" type="edu.cmu.sphinx.decoder.Decoder">
        <property name="searchManager" value="searchManager"/>
    </component>
    
   <component name="searchManager" type="edu.cmu.sphinx.decoder.search.WordPruningBreadthFirstSearchManager">
  		<property name="logMath" value="logMath" /> 
  		<property name="linguist" value="lexTreeLinguist" /> 
  		<property name="pruner" value="pruner" /> 
  		<property name="scorer" value="scorer" /> 
  		<property name="activeListManager" value="activeListManager" /> 
  		<property name="growSkipInterval" value="0" /> 
  		<property name="checkStateOrder" value="false" /> 
  		<property name="buildWordLattice" value="true" /> 
  		<property name="keepAllTokens" value="true" /> 
  		<property name="acousticLookaheadFrames" value="${acousticLookahead)" /> 
  		<property name="relativeBeamWidth" value="${relativeBeamWidth2}" /> 
   </component>
  
   <component name="activeListManager" type="edu.cmu.sphinx.decoder.search.SimpleActiveListManager">
 		<propertylist name="activeListFactories">
  				<item>standardActiveListFactory</item> 
  				<item>wordActiveListFactory</item> 
  				<item>wordActiveListFactory</item> 
  				<item>standardActiveListFactory</item> 
  				<item>standardActiveListFactory</item> 
  				<item>standardActiveListFactory</item> 
 		 </propertylist>
   </component>

    
    <component name="pruner" 
                type="edu.cmu.sphinx.decoder.pruner.SimplePruner"/>
    
    <component name="scorer" 
                type="edu.cmu.sphinx.decoder.scorer.ThreadedAcousticScorer">
        <property name="frontend" value="frontEnd"/>
    </component>
    
    <!-- ******************************************************** -->
    <!-- The linguist  configuration                              -->
    <!-- ******************************************************** -->


    <!-- ******************************************************** -->
    <!-- shared components configuration                           -->
    <!-- ******************************************************** -->
    
    <component name="standardActiveListFactory" 
             type="edu.cmu.sphinx.decoder.search.PartitionActiveListFactory">
        <property name="logMath" value="logMath"/>
        <property name="absoluteBeamWidth" value="${absoluteBeamWidth2}"/>
        <property name="relativeBeamWidth" value="${relativeBeamWidth2}"/>
    </component>
    
    <component name="wordActiveListFactory" 
             type="edu.cmu.sphinx.decoder.search.PartitionActiveListFactory">
        <property name="logMath" value="logMath"/>
        <property name="absoluteBeamWidth" value="${absoluteWordBeamWidth2}"/>
        <property name="relativeBeamWidth" value="${relativeWordBeamWidth2}"/>
    </component>
    
    <!-- ******************************************************** -->
    <!-- The language model linguist  configuration               -->
    <!-- ******************************************************** -->
    
    <component name="lexTreeLinguist" 
                type="edu.cmu.sphinx.linguist.lextree.LexTreeLinguist">
        <property name="logMath" value="logMath"/>
        <property name="acousticModel" value="acousticModel"/>
        <property name="languageModel" value="trigramModel"/>
        <property name="dictionary" value="dictionary"/>
        <property name="addFillerWords" value="false"/>
        <property name="fillerInsertionProbability" value="${lmfillerInsertionProbability}"/>
        <property name="generateUnitStates" value="false"/>
        <property name="wantUnigramSmear" value="true"/>
        <property name="unigramSmearWeight" value="${smear}"/>
        <property name="wordInsertionProbability" 
                value="${lmwordInsertionProbability}"/>
        <property name="silenceInsertionProbability" 
                value="${lmsilenceInsertionProbability}"/>
        <property name="languageWeight" value="${lmlanguageWeight}"/>
        <property name="unitManager" value="unitManager"/>
    </component>    
    

    <component name="trigramModel"
           type="edu.cmu.sphinx.linguist.language.ngram.large.LargeTrigramModel">
        <property name="location"
		value="${languageModelFile}"/>
        <property name="logMath" value="logMath"/>
        <property name="dictionary" value="dictionary"/>
        <property name="maxDepth" value="3"/>
        <property name="unigramWeight" value=".7"/>
    </component>

    <!-- ******************************************************** -->
    <!-- The acoustic model configuration                         -->
    <!-- ******************************************************** -->

    <component name="acousticModel"  type="edu.cmu.sphinx.linguist.acoustic.tiedstate.TiedStateAcousticModel">
        <property name="loader" value="loader"/>
        <property name="unitManager" value="unitManager"/>
    </component>

    <component name="loader"
           type="edu.cmu.sphinx.linguist.acoustic.tiedstate.Sphinx3Loader">
        <property name="logMath" value="logMath"/>
        <property name="unitManager" value="unitManager"/>
        <property name="location" value="${amLocation}"/>
        <property name="dataLocation" value="${amDataLocation}"/>
        <property name="modelDefinition" value="${amModelDefinition}"/>
    </component>

  
    
    <!-- ******************************************************** -->
    <!-- The Dictionary configuration                            -->
    <!-- ******************************************************** -->
    
    
       <component name="dictionary" type="edu.cmu.sphinx.linguist.dictionary.FastDictionary">
        <property name="dictionaryPath"
              value="${dictionaryPath}"/>
        <property name="fillerPath"
              value="${fillerPath}"/>
        <property name="addSilEndingPronunciation" value="false"/>
        <property name="wordReplacement" value="&lt;sil&gt;"/>
        <property name="unitManager" value="unitManager"/>
    </component>
        
    <!-- ******************************************************** -->
    <!-- The unit manager configuration                           -->
    <!-- ******************************************************** -->

    <component name="unitManager" 
        type="edu.cmu.sphinx.linguist.acoustic.UnitManager"/>

    <!-- ******************************************************** -->
    <!-- The live frontend configuration                          -->
    <!-- ******************************************************** -->
    <component name="frontEnd" type="edu.cmu.sphinx.frontend.FrontEnd">
        <propertylist name="pipeline">
            <item>audioFileDataSource </item>
            <item>dataBlocker </item>
            <item>speechClassifier </item>
            <item>speechMarker </item>
            <item>nonSpeechDataFilter </item>
            <item>preemphasizer </item>
            <item>windower </item>
            <item>fft </item>
            <item>melFilterBank </item>
            <item>dct </item>
            <item>batchCMN </item>
            <item>featureExtraction</item>
            <item>featureTransform</item>
        </propertylist>
    </component>

    <!-- ******************************************************** -->
    <!-- The frontend pipelines                                   -->
    <!-- ******************************************************** -->

    <component name="audioFileDataSource" type="edu.cmu.sphinx.frontend.util.AudioFileDataSource"/>

    <component name="dataBlocker" type="edu.cmu.sphinx.frontend.DataBlocker"/>
    
    <component name="speechClassifier" type="edu.cmu.sphinx.frontend.endpoint.SpeechClassifier"/>
    
    <component name="nonSpeechDataFilter" 
               type="edu.cmu.sphinx.frontend.endpoint.NonSpeechDataFilter"/>
    
    <component name="speechMarker" type="edu.cmu.sphinx.frontend.endpoint.SpeechMarker" />
        
    <component name="preemphasizer"
               type="edu.cmu.sphinx.frontend.filter.Preemphasizer"/>
    
    <component name="windower" 
               type="edu.cmu.sphinx.frontend.window.RaisedCosineWindower">
    </component>
    
    <component name="fft" 
            type="edu.cmu.sphinx.frontend.transform.DiscreteFourierTransform">
    </component>
    
    
  <component name="melFilterBank" type="edu.cmu.sphinx.frontend.frequencywarp.MelFrequencyFilterBank">
    <property name="numberFilters" value="40"/>
    <property name="minimumFrequency" value="130"/>
    <property name="maximumFrequency" value="6800"/>
  </component>
    
    <component name="dct" 
            type="edu.cmu.sphinx.frontend.transform.DiscreteCosineTransform"/>
    
    <component name="batchCMN" 
               type="edu.cmu.sphinx.frontend.feature.BatchCMN"/>
        
    <component name="featureExtraction" 
               type="edu.cmu.sphinx.frontend.feature.DeltasFeatureExtractor"/>


  <component name="featureTransform" type="edu.cmu.sphinx.frontend.feature.FeatureTransform">
      <property name="loader" value="loader"/>
  </component>
    
    <!-- ******************************************************* -->
    <!--  monitors                                               -->
    <!-- ******************************************************* -->
    
    <component name="accuracyTracker" 
                type="edu.cmu.sphinx.instrumentation.BestPathAccuracyTracker">
        <property name="recognizer" value="recognizer"/>
        <property name="showAlignedResults" value="false"/>
        <property name="showRawResults" value="false"/>
    </component>
    
    <component name="memoryTracker" 
                type="edu.cmu.sphinx.instrumentation.MemoryTracker">
        <property name="recognizer" value="recognizer"/>
	<property name="showSummary" value="false"/>
	<property name="showDetails" value="false"/>
    </component>
    
    <component name="speedTracker" 
                type="edu.cmu.sphinx.instrumentation.SpeedTracker">
        <property name="recognizer" value="recognizer"/>
        <property name="frontend" value="frontEnd"/>
	<property name="showSummary" value="true"/>
	<property name="showDetails" value="false"/>
    </component>
    
    
    <!-- ******************************************************* -->
    <!--  Miscellaneous components                               -->
    <!-- ******************************************************* -->
    
    <component name="logMath" type="edu.cmu.sphinx.util.LogMath">
        <property name="logBase" value="1.0001"/>
        <property name="useAddTable" value="true"/>
    </component>
    
</config>















